<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
<main class="about">
  <div class="about-main">
    <img src="/assets/images/about_me_pic.jpg" width="auto" height="600">
    <div class="about-text">
      <h1><span>Janssen Nunag</span></h1>
      <p>
        Hello! My name is Janssen. I am a Software Engineer with 7 years of global corporate experience in application development and support inclined with IT Service Management and Data Analytics.
        <br><br>
        I am an outgoing person with hobbies interested in both indoor and outdoor activities.
      </p>
      <!--button for resume link-->
      <a class="btn btn-primary" href ="https://drive.google.com/file/d/1wawC1ECU0WKD1rGKklyd6Q6r5QsicBL4/view" target="_blank">Resume</a>
      <!-- button for github link -->
      <a class="btn btn-primary" href ="https://github.com/jjjon3/COMP229-003/tree/master/week3" target="_blank">GitHub</a>
    </div>
  </div>
</main>
<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>