<!--
  Janssen Nunag
  301234890
  COMP229-003 W2023
  Feb 3, 2023
-->

<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
<div class="container">
    <h1>Janssen</h1>
    <p>Hello! It's me, hi! I'm the problem, it's me!</p>
</div>
<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>