<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>

<div class="wrapper">
  <h1><span>My Services</span></h1>
  <div class="content-box">

    <div class="card">
      <i class="fa-solid fa-terminal fa-2xl"></i>
      <h2>General Programming</h2>
      <p>I can develop applications based on your needs.</p>
    </div>

    <div class="card">
      <i class="fa-solid fa-mobile fa-2xl"></i>
      <h2>Android Application</h2>
      <p>I can develop an android application for your business or personal needs.</p>
    </div>

    <div class="card">
      <i class="fa-solid fa-gears fa-2xl"></i>
      <h2>Reverse Engineering</h2>
      <p>I can help review old code or find something specific that you might need.</p>
    </div>

  </div>
</div>

<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>