<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>

<div class="wrapper">
  <h1><span>My Services</span></h1>
  <div class="content-box">

    <div class="card">
      <i class="fa-solid fa-terminal fa-2xl"></i>
      <h2>Application Development</h2>
      <p>I can write code to create applications based on your needs</p>
    </div>

    <div class="card">
      <i class="fa-solid fa-chart-column fa-2xl"></i></i>
      <h2>Business Intelligence</h2>
      <p>I can generate reports and dashboards that can be used to help drive business decisions in improving operations</p>
    </div>

    <div class="card">
      <i class="fa-solid fa-screwdriver-wrench fa-2xl"></i>
      <h2>Consulting</h2>
      <p>I can review systems and processes, and recommend opportunities for improvement/optimization</p>
    </div>

  </div>
</div>

<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>