<!--
  Janssen Nunag
  301234890
  COMP229-003 W2023
  Feb 27, 2023
-->

<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
<div class="container">
    <h1>J A N S S E N</h1>
    <p>Adventurer • Problem solver • Tech-savvy</p>
    <a class="btn btn-info" href ="/about">About Me</a>
</div>
<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>